---
layout: description
permalink: /categories/
title: Categories
---


<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <h3 class="category-head"><a href="{{ "/categories/" | append: category_name | slugize | append: "/" | relative_url }}">{{ category_name }}</a></h3>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      &nbsp;&nbsp;<a href="{{ post.url | relative_url }}">{{post.title}} - {{ post.date | date_to_string }}</a>
    </article>
    <br>
    {% endfor %}
  </div>
{% endfor %}
</div>